---
import P5 from "../../components/P5.astro"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>P5 Sketch</title>
	</head>
	<body>
		<h1>P5 Sketch</h1>
    <select id="sketchSelect">
      <option value="p5Sketch">p5Sketch</option>
      <option value="p5Sketch2">p5Sketch2</option>
    </select>
    <P5 scriptName="p5Sketch2"/>
	</body>
</html>


